.loadTask {
  text-align: center;
}


.taskImageContainer {
  position: relative;
  /* background-color: #193659; */
  width: "auto";
  height: 500px;
  justify-content: center;
}

.buttonBlue {
  appearance: none;
  background-color: #2F65A7;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.buttonBlue:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.buttonBlue:hover {
  background-color: #275389;
}

.buttonBlue:focus {
  box-shadow: rgba(48, 46, 164, 0.4) 0 0 0 3px;
  outline: none;
}

.buttonBlue:disabled {
  background-color: #6983a4;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.buttonBlue:active {
  background-color: #193659;
  box-shadow: rgba(23, 20, 70, 0.2) 0 1px 0 inset;
}

.answerInput {
  appearance: none;
  /* background-color: #2F65A7; */
  border: 1px solid #2F65A7;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  /* color: #fff; */
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
  /* font-size: 14px; */
  /* font-weight: 600; */
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  /* text-align: center; */
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}